<head>
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-bokeh-2.0.4.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/continuum.css') }}" type="text/css" />
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
  {{ script | safe }}
</head>
<body>
  <div class=page>
    <h1>{{title}}</h1>
    {{ div | safe }}
  </div>
</body>
</html>
