<!doctype html>
<head>
  <title>User Input</title>
  <h1>Stock Value</h1>
  <h2>Please enter a stock ticker e.g. GOOG, and check desired features.</h2>
  <link rel="stylesheet" type="text/css" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css">
</head>
<form id='stock_ticker' method='POST' action='/stock_trend'>
  Ticker Symbol: <input type="text" name="tickersym"><br><br>
  <input type="checkbox" name="closingprice" value="cp">Closing Price<br>
  <input type="checkbox" name="adjclosingprice" value="acp">Adjusted Closing Price<br>
  <input type="checkbox" name="openingprice" value="op">Opening Price<br>
  <input type="checkbox" name="adjopeningprice" value="aop">Adjusted Opening Price<br><br>
  <input type="submit" value="Submit" style="height:40px; width:100px; font-size:20px">
</form>
</html>
